*{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}

.container{
  display: flex;

}

/** 
  Header
*/

header{
  width: 75%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.container-header{
  height: 100vh;
  width: 17.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
}

/** 
  End header
*/

/**
  Main
*/

main{
  position: relative;
  display: flex;
  width: 80vw;
}

.main-container{
 align-items: flex-end;
 width: 100%;
}

/** 
  End main
*/


/** 
  Navbar
*/

.button-style a:hover{
  color: #333;
  text-decoration: none;
  background-color: #dbd8d8;
  border-radius: 2rem;
}

.button-style a{
  padding: 0.8rem;
  padding-top: 0.4rem;
  color: #333;
  text-decoration: none;
  list-style: none;
  border: none;
}

.button-text-home{
  padding-left: 1rem;
  font-weight: 700;
}

.button-text{
  padding-left: 1rem;
  font-weight: 400;
}


.button-style li{
  margin: 2rem ;
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.tweet-button{
  margin-left: 1rem;
  font-size: 1.2rem;
  width: 90%;
  font-weight: 500;
  color: white;
  border-radius: 3rem;
  background-color: rgb(29, 155, 240);
}

/** 
  End navbar
*/


/** 
  Account-switch
*/

.container-account-switch{
  margin-bottom: 2rem;
  padding-left: 2rem;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}

.img-account-switch{
  margin-top: 1rem;
  margin-right: 1rem;
}

.img-account-switch img{
  height: 50px;
  width: 50px;
  border-radius: 9999px;
  cursor: pointer;
}

.text-account-switch{
  margin-top: 0.7rem;
  margin-right: 2.7rem;
}

.username-account-switch p{
  font-weight: 700;
}

.id-account-switch p{
  color: grey ;
}

.ellipsis-account-switch{
  margin-top: 1.5rem;
  cursor: pointer;
}


/** 
  End account-switch
*/

/**
  Tweet
*/

.article-tweet{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 650px;
  border-bottom: 0.1rem rgb(230, 230, 230) solid;
  border-left: 0.1rem rgb(230, 230, 230) solid;
  border-right: 0.1rem rgb(230, 230, 230) solid;
}
.img-user img{
  margin-right: 1rem;
  height: 50px;
  width: 5Opx;
  border-radius: 9999px;
}

.user-general{
  display: flex;

}

.user-description{
  display: flex;
  align-items: baseline;
}

.user-description h2{
  margin-right: 0.2rem;
  font-size: 1.2rem;
}

.user-description p{
  font-size: 0.9rem;
  color: grey;
}

.tweet-content{
  display: flex;
  flex-direction: column;
}

.tweet-content span{
  margin-bottom: 1rem;
  inline-size: 550px;
}

.tweet-content img{
  height: 500px;
  width:385px;
  border-radius: 1.2rem;
}

/**
  End Tweet
*/

/**
  TopHeadTwitter
*/

.container-tophead{
  padding-left: 1rem;
  padding-bottom: 1rem;
  max-width: 650px;
  border: 0.1rem rgb(230, 230, 230) solid;
}

.container-tophead p{
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.switch-subject{
  display: flex;
  text-align: center;
}

.switch-foryou{
  width:50%;
}

.switch-foryou a{
  text-decoration: none;
  color: inherit;
}

.switch-following{
  width:50%;
}

.switch-following a{
  text-decoration: none;
  color: inherit;
}

/**
  End TopHeadTwitter
*/


