*{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}

.container{
  display: flex;

}

/** 
  Header
*/

header{
  width:45%;
  display: flex;
  align-items: flex-end;
}

.container-header{
  height: 100vh;
  width: 17.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/** 
  End header
*/

/**
  Main
*/

main{
  position: relative;
  display: flex;
  width: 100vw;
}

.main-container{
 align-items: flex-end;
}

/** 
  End main
*/


/** 
  Navbar
*/

.button-style a:hover{
  color: #333;
  text-decoration: none;
  background-color: #dbd8d8;
  border-radius: 2rem;
}

.button-style a{
  padding: 0.8rem;
  padding-top: 0.4rem;
  color: #333;
  text-decoration: none;
  list-style: none;
  border: none;
}

.button-text-home{
  padding-left: 1rem;
  font-weight: 700;
}

.button-text{
  padding-left: 1rem;
  font-weight: 400;
}


.button-style li{
  margin: 2rem ;
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.tweet-button{
  margin-left: 1rem;
  font-size: 1.2rem;
  width: 90%;
  font-weight: 500;
  color: white;
  border-radius: 3rem;
  background-color: rgb(29, 155, 240);
}

/** 
  End navbar
*/


/** 
  Account-switch
*/

.container-account-switch{
  margin-bottom: 2rem;
  padding-left: 2rem;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}

.img-account-switch{
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 9999px;
}

.text-account-switch{
  margin-right: 5rem;
}

.username-account-switch p{
  font-weight: 700;
}

.id-account-switch p{
  color: grey ;
}

.ellipsis-account-switch{
  margin-top: 1rem;
  cursor: pointer;
}


/** 
  End account-switch
*/