*{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}

button, textarea, input, a{
  outline: none;
  outline-offset: 0;
}

.container{
  display: flex;

}

/** 
  Header
*/

header{
  width: 75%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.container-header{
  height: 100vh;
  width: 17.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
}

/** 
  End header
*/

/**
  Main
*/

main{
  position: relative;
  display: flex;
  width: 80vw;
}

.main-container{
 align-items: flex-end;
 width: 58%;
}

.trending-container{
  display: flex;
  flex-direction: column;
  margin-left: 2.2rem;
}

.container-suggest-follow{
  position: sticky;
  top: 815px;
  margin-top: 2rem;
  background-color: #F7F9F9;
  border-radius: 50px;
}

/** 
  End main
*/


/** 
  Navbar
*/

.button-style a:hover{
  color: #333;
  text-decoration: none;
  background-color: #E7E7E8;
  border-radius: 2rem;
}

.button-style a{
  padding: 0.8rem;
  padding-top: 0.4rem;
  color: #333;
  text-decoration: none;
  list-style: none;
  border: none;
}

.button-text-home{
  padding-left: 1rem;
  font-weight: 700;
}

.button-text{
  padding-left: 1rem;
  font-weight: 400;
}


.button-style li{
  margin: 2rem ;
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.tweet-button{
  margin-left: 1rem;
  font-size: 1.2rem;
  width: 90%;
  font-weight: 500;
  color: white;
  border-radius: 3rem;
  background-color: rgb(29, 155, 240);
  
}

/** 
  End navbar
*/


/** 
  Account-switch
*/

.container-account-switch{
  margin-bottom: 2rem;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}

.img-account-switch{
  margin-top: 1rem;
  margin-right: 1rem;
}

.img-account-switch img{
  height: 50px;
  border-radius: 9999px;
  cursor: pointer;
}

.text-account-switch{
  margin-top: 0.7rem;
  margin-right: 2.7rem;
}

.username-account-switch p{
  font-weight: 700;
}

.id-account-switch p{
  color: grey ;
}

.ellipsis-account-switch{
  margin-top: 1.5rem;
  cursor: pointer;
}


/** 
  End account-switch
*/

/**
  Tweet
*/

.article-tweet{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-bottom: 0.1rem rgb(230, 230, 230) solid;
  border-left: 0.1rem rgb(230, 230, 230) solid;
  border-right: 0.1rem rgb(230, 230, 230) solid;
}

.img-user img{
  margin-right: 1rem;
  height: 50px;
  border-radius: 9999px;
  cursor: pointer;
}

.user-general{
  display: flex;

}

.user-description{
  display: flex;
  align-items: baseline;
}

.user-description h2{
  margin-right: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.user-description h2:hover{
  text-decoration: underline;
}

.user-description p{
  font-size: 0.9rem;
  color: grey;
  cursor: pointer;
}

.tweet-content{
  display: flex;
  flex-direction: column;
}

.tweet-content span{
  margin-bottom: 1rem;
  inline-size: 550px;
}

.tweet-content img{
  height: 500px;
  width:385px;
  border-radius: 1.2rem;
}

.tweet-tools{
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.tweet-message{
  display: flex;
  align-items: center;
  cursor: pointer;
  color:#61727D ;
}

.tweet-message span{
  margin-left: 0.4rem;
}

.tweet-message:hover{
  color: #4EB0F2;
}

.tweet-rt{
  display: flex;
  align-items: center;
  cursor: pointer;
  color:#61727D;
}

.tweet-rt span{
  margin-left: 0.4rem;
}

.tweet-rt:hover{
  color:#0DBD83;
}

.tweet-like{
  display: flex;
  align-items: center;
  cursor: pointer;
  color:#61727D;
}

.tweet-like span{
  margin-left: 0.4rem;
}

.tweet-like:hover{
  color: #F9318D;
}

.tweet-stats{
  display: flex;
  align-items: center;
  cursor: pointer;
  color:#61727D;
}

.tweet-stats span{
  margin-left: 0.4rem;
}

.tweet-stats:hover{
  color: #4EB0F2;
}

.tweet-share{
  margin-left: 1rem;
  cursor: pointer;
}

.tweet-share:hover{
  color: #4EB0F2;
}

/**
  End Tweet
*/

/**
  TopHeadTweet
*/

.container-tophead{
  position: sticky;
  top: 0;
  backdrop-filter: blur(12px);
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color:0.1rem rgba(255, 255, 255, 0.85)solid;
}

.container-tophead p{
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.switch-subject{
  display: flex;
  text-align: center;
}

.switch-foryou{
  width:50%;
}

.switch-foryou:hover{
  background-color: #dbd8d8;
}

.switch-foryou a{
  text-decoration: none;
  color: inherit;
}
.switch-foryou a:hover{
  text-decoration: none;
  color: inherit;
}

.switch-following{
  width:50%;
}

.switch-following:hover{
  background-color: #dbd8d8;
}

.switch-following a{
  text-decoration: none;
  color: inherit;
}

.switch-following a:hover{
  text-decoration: none;
  color: inherit;
}

/**
  End TopHeadTwitter
*/

/**
  CreateTweet
*/

.creat-tweet-container{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  border-bottom: 0.1rem rgb(230, 230, 230) solid;
  border-left: 0.1rem rgb(230, 230, 230) solid;
  border-right: 0.1rem rgb(230, 230, 230) solid;
}

.content-left{
  width: 10%;
}

.content-right{
  width: 100%;
}

.content-left img{
    margin-right: 1rem;
    height: 50px;
    border-radius: 9999px;
}

.content-tweet textarea{
  margin-top: 1rem;
  margin-left: 0.8rem;
  height: auto;
  min-width: 450px;
  resize: vertical;
  overflow: hidden;
  border: none;
  resize: none;
  font-size: 1.1rem;
  font-family: inherit;
}

.tweet-option{
  display: flex;
  flex-direction: row;
  width: 50%;
}

.tweet-option ul{
  display: flex;
}

.tweet-option li{
  list-style: none;
  margin: 0 0.2rem;
}

.content-right-bottom{
  display: flex;
}

.button-tweet{
  width: 50%;
  align-items: flex-end;
}

.button-tweet button{
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border-radius: 3rem;
  background-color: rgb(29, 155, 240);
}


/**
  End CreateTweet
*/


/**
  Searchbar
*/

.search-bar{
  z-index:1;
  position: sticky;
  top: 0 ;
  margin-left: 0rem;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.6rem;
  height: 53px;
  width: 350px;
  background-color: #EFF3F4;
  border: inherit;
  border-radius: 55px;
}

.content-left-search-bar{
  margin-top: 1rem;
  margin-left: 1rem;
  width: 10%;
}

.content-right-search-bar{
  width: 90%;
  margin-top: 0.8rem;
}

.content-right-search-bar input{
  margin-top: 0.5rem;
  width:  9rem;
  font-size: 1rem;
  background-color: #EFF3F4;
  border: inherit;
  border-radius: 55px;
}

/**
  End Searchbar
*/


/**
  Trending
*/

.container-trending{
  position:sticky;
  top: -25px;
  margin-top: 2rem;
  background-color: #F7F9F9;
  border-radius: 50px;
}

.head-trending{
  margin-top: 1.5rem;
  margin-left: 1.2rem;
}

.trend-h1{
  font-size: 1.8rem;
  font-weight: 900;
}

.container-trending h1{
  font-size: 1.2rem;
}

.content-trending{
  margin-top: 2rem;
}

.suggest-follow{
  margin-top: 1rem;
}

/**
  End Trending
*/

/**
  Trending text
*/

.container-trending-text{
  display: flex;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
}

.content-left-tt{
  width:85%;
}

.content-right-tt{
  margin-top: 1rem;
  width:15%;
}

/**
  End Trending text
*/

/**
  SuggestFollow
*/

.container-sf{
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.head-sf{
  margin-top: 1.5rem;
  margin-left: 2.2rem;
}

.sf-h1{
  font-size: 1.8rem;
  font-weight: 900;
}

.content-sf{
  display: flex;
  justify-content: row;
  margin-top: 1rem;
}


.username-sf{
  margin-left: 1rem;
}

.id-sf{
  margin-left: 1rem;
}

.id-sf p{
  color: grey
}

.img-sf img{
  height: 50px;
  border-radius: 9999px;
  cursor: pointer;
}
.button-sf button{
  margin-left: 2.5rem;
  font-size: 1.2rem;
  width: 70%;
  text-align: center;
  font-weight: 500;
  color: white;
  border-radius: 3rem;
  background-color: #272C30;
}


/**
  End SuggestFollow
*/